.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    position: relative;
    width: 80%;
    max-height: 80%;
    background-color: white;
    padding: 20px;
    overflow-y: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .modal-close-button {
    position: sticky;
    top: 0;
    float: right;
    background: none;
    border: none;
    color: black;
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    padding: 10px;
    margin-right: -10px;
  }
  
  .modal-close-button:hover {
    color: red;
  }
  
  .modal-body {
    padding: 20px;
    max-height: 80vh;
    overflow-y: auto;
  }
  
  .modal-section {
    margin-bottom: 20px;
  }
  
  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  /* TODO: make prettioer like pintrest super ugly rn */
  .gallery-item { 
    flex: 1 1 calc(33.333% - 10px);
    box-sizing: border-box;
    margin-bottom: 10px;
  }  
  
  .image-container {
    position: relative;
    width: 100%;
  }
  
  img {
    width: 100%;
    height: auto;
    transition: filter 0.3s ease; 
  }
  
  .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    font-weight: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease; 
  }
  
  .image-container:hover img {
    filter: brightness(0.6);
  }
  
  .image-container:hover .caption {
    opacity: 1;
  }